<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peng.main.provider.mapper.mapper.BaseModuleResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.peng.main.api.mapper.model.BaseModuleResources" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MODULE_NAME" property="moduleName" jdbcType="VARCHAR" />
    <result column="MODULE_CODE" property="moduleCode" jdbcType="VARCHAR" />
    <result column="MODULE_PATH" property="modulePath" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="MODULE_ICON" property="moduleIcon" jdbcType="VARCHAR" />
    <result column="HTTP_METHOD" property="httpMethod" jdbcType="VARCHAR" />
    <result column="IS_OPERATING" property="isOperating" jdbcType="INTEGER" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="SYSTEM_ID" property="systemId" jdbcType="VARCHAR" />
    <result column="ACTIVE" property="active" jdbcType="INTEGER" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>