<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peng.main.provider.mapper.mapper.BaseRoleMapper" >
  <resultMap id="BaseResultMap" type="com.peng.main.api.mapper.model.BaseRole" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="roleMap" type="com.peng.main.api.mapper.model.BaseRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <collection  column="{ID=ID,USER_ID=USER_ID}" property="modules"
                 select="com.peng.main.provider.mapper.mapper.BaseModuleResourcesMapper.selectModuleByRoleId" />
  </resultMap>

  <select id="getRoleByUserId" resultMap="roleMap">
    SELECT br.*, bur.USER_ID as USER_ID FROM
    base_user_role bur LEFT JOIN base_role br ON bur.ROLE_ID = br.ID
    WHERE bur.USER_ID = #{userId}
  </select>

</mapper>